@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');





@media screen and (min-width:50px) {
    

    /* ---------------------------------- Header ------------------------------ */
    
    .header{
        max-width: 0%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
        margin-top: 10%;
        border: 2px solid red;
    }

    .header-container{
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed; 
        justify-content: space-between;
        margin:0 auto;
        background-color: rgba(247, 207, 148, 0.589);
        backdrop-filter: blur(5px);
        border-radius: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }


    .header-container-title{
        text-align: center;
        width: 70%;

        h1{
            color: rgb(58, 58, 58);
            font-family: Poppins;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }

    .menu{
        display: block;
        border: none;
        background: none;
        cursor: pointer;
        color:rgb(58, 58, 58);
    }
    

    .dropdown-content {
        display: none;
        position:absolute;
        top: 120%;
        left: 1%;
        width: 75%;
        height: 20em;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.568);
        background-color:rgb(247, 207, 148);
        /* backdrop-filter: blur(10px); */
        border-radius: 20px;
        z-index: 1;
                
        a{
            padding: 12px 16px;
            display: block;
            position: relative;
            color: rgb(58, 58, 58);
            text-decoration: none;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
        }

        a::after {    
            content: "";
            height: 4px;
            background: rgb(224, 44, 109);
            transition: 0.5s;
            width: 0;
            bottom: 0;
            position: absolute;
            left: 0%;
        }
    
        a:hover::after { 
            width: 100%; 
            left: 0%;
        }
    }





    .input-animation {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; 
        
    }
      
    .input {
        border-style: none;
        height: 50px;
        width: 50px;
        outline: none;
        transition: .5s ease-in-out;
        padding-right: 50px;
        color:rgb(58, 58, 58);
        background-color: rgb(255, 255, 255);
        border-radius: 50px ;
        font-size: 14px;
        font-weight: 600;
    }
     
    .input-animation-btn {
        position: absolute;
        right: 0px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        outline: none;
        border-style: none;
        transition: .2s linear;
        background-color: transparent;
        color: rgb(58, 58, 58);
    }
    

    .input-animation-btn:focus ~ .input,
    .input:focus {
        box-shadow: none;
        width: 200px;
        background-color: transparent;
        border-bottom: 3px solid rgb(224, 44, 109);
        border-radius: 0px;
        transition: all 0.5s ;
    }



    
    .shopping{
        display: none;
    }
    
    .cart{
        color:rgb(58, 58, 58);
    }
    
    .header-container:has(.menu:focus) .dropdown-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
   
    .dropdown-content:hover {   
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
        align-items: center;
    }




    /* //////////////////////////////////////    Camera content ??????????????????? */


    .camera{
        margin: 0 auto;
        max-width: 90%;
    }

    .camera-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .camera-container-image{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 100%;
            background: url(../images/Circle\ design.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    } 
    

    .camera-container-title{
        text-align: center;

        h1{
            font-size: 30px;
            margin-bottom: 0;
            font-weight: 700;
            color: rgb(58, 58, 58);
            font-family: Poppins;
        }

        p{
            font-size: 15px;
            margin-top: 0;
            color: rgb(58, 58, 58);
            font-family: Poppins;
            font-weight: 600;
        }
    }



    .all-btn{
        border-radius: 41px;
        background: rgb(224, 44, 109);
        border: none;
        width: 13em;
        height: 3em;
        cursor: pointer;
        transition: all 0.5s;
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 700;
    } 
    
    
    .all-btn:hover{
        transform: scale(1.10);
        letter-spacing: 1px;
    } 
    
    
    .all-btn:active {
        transform: scale(0.9);
        letter-spacing: 0px;
    }
    
    
    
    .arrow{
        margin-left:10px ;
    }   
    
    
    
    

    

    /* '''''''''''''''''''''''''''''''''''   Banner content:  ;                 ''''''''''''''''''''''''' */

    .banner{
        max-width: 90%;
    }

    .banner-logo{
        width: 30%;
    }



    

    .banner{
        border: 1px solid rgba(44, 44, 44, 0.281);
        margin-top: 10%;
        height: 6em;
        margin-inline: auto;
        position: relative;
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        mask-image: linear-gradient(to right ,
        rgba(0,0,0,0) ,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%, 
        rgba(0,0,0,0));                             
    }

    .banner-logo{
        position: absolute;
        left: max(calc(200px * 8 ), 100%);
        animation-name: scroll;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes scroll{

        form{}

        to{
            left: -200px;
        }
    }



    .banner-logo-1{
        animation-delay: calc(30s / 7 * (7 - 1) * -1) ;
    }

    .banner-logo-2{
        animation-delay: calc(30s / 7 * (7 - 2) * -1) ;
    }

    .banner-logo-3{
        animation-delay: calc(30s / 7 * (7 - 3) * -1) ;
    }
    
    .banner-logo-4{
        animation-delay: calc(30s / 7 * (7 - 4) * -1) ;
    }
    
    .banner-logo-5{
        animation-delay: calc(30s / 7 * (7 - 5) * -1) ;
    }
    
    .banner-logo-6{
        animation-delay: calc(30s / 7 * (7 - 6) * -1) ;
    }
    
    .banner-logo-7{
        animation-delay: calc(30s / 7 * (7 - 7) * -1) ;
    }


   

    /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\   Product content \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */



       
    .collection{
        max-width: 90%;
        margin: 0 auto;
    }


    .collection-title{
        margin-top: 10%;
        margin-bottom: 5%;
        text-align: center;
    
        h1{
            font-family: Poppins;
            font-size: 30px;
            font-weight: 600;
            color: rgb(24, 25, 31);
            font-family: Poppins;
        }
       
    }
    
    .collection-container{
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .collection-container-product{
        width: 90%;
        height: auto;
        justify-self: center;
        border-radius: 5px;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
        background: rgb(255, 255, 255);
        padding: 20px;

        img{
            width: 100%;
        }
    
        h1{
            font-size: 30px;
            font-weight: 500;
            color: rgb(24, 25, 31);
            font-family: Poppins;
        }
    }
    
    .p-1{
        color: rgba(0, 0, 0, 0.87);
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        margin-top: 0;
    }
    
    
    
    .rating{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        text-align: center;
    }
    
    .p-2 {
        padding-left: 3%;
        color: rgb(94, 99, 102);
        font-family: Roboto;
        font-size: 17px;
        font-weight: 700;
    }
    
    
    .p-3{
        color: rgb(120, 120, 133);
        font-family: Inter;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 0;
    }
    
    
    .see{
        width: 100%;
        text-align: right;
        margin-top: 5%;
    }
    .see-more{
        color: rgba(224, 44, 109, 0.87);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 700;
        transition: all 0.5s;
    }
    
    .see-more-icon{
        margin-left: 10px;
    }
    
    
    .see-more:hover{
        transform: scale(1);
        letter-spacing: 2px;
    } 
    
    
    .see-more:active {
        transform: scale(1);
        letter-spacing: 0px;
    }
    
    
 

    /* .......................    .............  Gear Content >>>>>>>>>>>>>>>>>>>>>>>>>>>> */


    .gear{
        max-width: 90%;
        margin: 0 auto;
    }
  
    .gear-container{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 5%;
    }
    
    .gear-container-title{
        text-align: center;

        h1{
            font-size: 38px;
            font-weight: 700;
            color: rgb(10, 8, 38);
            font-family: Poppins;
        }
    
        p{
            font-size: 16px;
            font-weight: 700;
            color: rgb(108, 108, 108);
            font-family: Poppins;
        }
    }
    
    
    
    .gear-btn{
        width: 11em;
        height: 3em;
        border-radius: 0;
        transition: all 0.3s ease-in-out;
        margin-bottom: 10%;
    }
    
    
    

    /* ===================================       Footer Content ++++++++++++++++++++++++++++++++ */


    .footer{
        background: rgb(10, 8, 38);
        margin-top: 5%;
    }
    
    .footer-container{
        max-width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        padding-top: 2%;
        padding-bottom: 2%;
       
    
        h1{
            font-size: 24px;
            font-weight: 700;
            color: rgb(255, 255, 255);
            font-family: Poppins;
        }
    
        p{
            font-family: Manrope;
            font-size: 14px;
            font-weight: 700;
            color: rgb(217, 219, 225);
        }
    }
    
    .footer-container-image{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 60%;

        img{
            width: 100%;
        }
    }
    
    .social-media-btn{
        border: none;
        background: none;
        cursor: pointer;
        transition: .2s linear;
    }  
    
    .social-media-btn:hover{
        background-color: none;
        border: none;
        transform: translateY(-10px); 
    }
    
    

}

@media screen and (min-width:500px) {
    
    .header{
        margin-top: 5%;
    }

    .header-container-title{

        h1{
            letter-spacing: 0px;
        }
    }

    .camera-container-title{

        h1{
            font-size: 45px;
        }

        p{
            font-size: 16px;
        }

    }
 

    .dropdown-content{
        height: auto;
    }

    .banner-logo{
        width: 15%;
    }


    .collection-container{
        grid-template-columns: repeat(2, 1fr);
    }



    .gear-container{
        align-items: center;
        img{
            width: 50%;
        }
    }
    
    .footer-container-image{
        width: 35%;
    }
}

@media screen and (min-width: 1024px) {


    /* +++++++++++++++++++++++     Header +++++++++++++++++++++++ */

    .header-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-container-title{
        width: 30%;
        text-align: left;

        h1{
            font-size: 24px;
        }
    }
  

    .menu{
        display: none;
    }
    
    .dropdown{
        display: flex;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }

    
    .dropdown-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        position:static;
        width: 100%;
        box-shadow: none;
        background: none;
        
        a{
            color: rgb(58, 58, 58);
            margin-right: 10px;
        }  
    }

    .cart{
        margin-left: 20px;
    }


    .dropdown-content:hover{
        flex-direction: row;
        justify-content: space-between;
    }
   




    /* ============================================    Banner Content ________________ */

    


    /* \||||||||||||||||||||||||||              Product ||||||||||||||||||||| */




    .collection{
        max-width: 70%;
        margin: 0 auto;
    }

    .collection-container{
        grid-template-columns: repeat(2, 1fr);
    }




    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<     Gear-content   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


    .gear{
        max-width: 90%;
    }

    /* _____________________________________ Footer content _________________________ */


    .footer-container-image{
        width: 30%;
    }


}

@media screen and (min-width: 1100px) {

   
    .header{
        margin-top: 4%;
    }
    .header-container{
       width: 70%;
    }

    .header-container-title{
        position: relative;
    }

    .dropdown{
        position: relative;
    }

    .camera{
        max-width: 70%;
    }

    .camera-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .camera-container-title{
        text-align: left;
    }


    .banner{
        max-width: 70%;
    }

    .banner-logo{
        width: 10%;
    }

    .collection-container{
        grid-template-columns: repeat(3, 1fr);
    }
    
    .gear{
        max-width: 80%;
    }

    .gear-container{
        justify-content: space-evenly;
        flex-direction: row;
        
        img{
            width: auto;
            
        }
    }

    .gear-container-title{
        width: 50%;
        text-align: left;
    }

    .footer-container-image{
        width: 15%;
    }
}

@media screen and (min-width: 2000px ) {
    
    .header{
        margin-top: 3%;
    }
    .header-container{
        width: 60%;
    }

    .camera{
        max-width: 60%;
    }

    .banner{
        max-width: 60%;
    }

    .collection{
        max-width: 60%;
    }

    .gear{
        max-width: 70%;
    }
}

